@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    line-height: 1.5em;
    background-color: white;
    color: black;
}

menu {
    display: none;
}

article::after {
    display: block;
    content: 'www.lildreyki.com';
    text-align: right;
}