@charset "UTF-8"

* {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: linear-gradient(to right, #0080FF, #6600CC);
    color: white;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: brown;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
    text-align: justify;
}